h1 {
  background-color: #B2D6FF;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #FF0000;
  color: white;
}
.active {
  background-color: #4CAF50;
  color: white;
}
ul {
  border: 1px solid #555;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}
.project-container{
  display:flex;
  justify-content:center;
}
.Projects {
  background-color: #5995DA;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;

}
.experience-container {
  display:flex;
  justify-content:center;
}
.Experience {
  background-color: #B2D6FF;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}
